@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    height:95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    font: Poppins;
    background: yellow;
}